<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"/>
    <title>Framework en engine detail pagina</title>
</head>
<header>
    <div th:replace="fragments/fragments :: navbar">Hier komt de header</div>
</header>
<main>
    <nav>
        <ul>
            <div>
                <li><a th:href="@{/admin/frameworkEdit/{id}(id=${frameEngine.getId()})}"></a></li>
            </div>
        </ul>
    </nav>
    <div>
        <div th:if="${frameEngine}">
            <div>
                <div>Info : </div>
                <h2 th:text="${frameEngine.getName()}">Naam venue</h2>
                <table>
                    <tr>
                        <td>Popularity: </td>
                        <td th:text="${frameEngine.getPopularity()}">uses</td>
                    </tr>
                </table>
            </div>
            <h2>Coding languages</h2>
            <div class="btn" th:each="coding: ${frameEngine.getLanguages()}">
                <tr>
                    <td>
                        <a th:href="@{|/codingDetails/${coding.getId()}|}"><span th:text="${coding.getCoding_name()}">coding name</span></a>
                    </td>
                </tr>
            </div>
        </div>
        <div th:unless="${frameEngine}">
            <p>no coding language was chosen</p>
        </div>
    </div>
</main>